.login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #f5f5f5;
    padding: 40px 20px;
    margin-top: 2rem;
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.login__input{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: .5rem;
}

.login__btnLogin{
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: min(250px, 100%);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-top: .5rem;
}

.login__btnLogin:hover{
    background-color: var(--color-primaryStrong);
}

.login__forgotPassword{
    color: var(--color-primary);
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    transition: text-decoration 0.3s ease, color 0.3s ease;
}

.login__forgotPassword:hover{
    text-decoration: underline;
    color: var(--color-primaryStrong);
    
}