:root{
  --h-FullVh: 100vh;
  --h-Full: 100%;
  --w-Full: 100%;

  /* COLORS */

  --color-primary: #0077cc;
  --color-primaryStrong: #1b5884;
  --color-accent: #ff6600;
  --color-delete: #ff4d4d;
  --color-deleteStrong: #d32f2f;
  --color-success: #4BB543;
  --color-cancel: #9cb8ba;
  --color-whitesmoke: #f5f5f5;

  /* BACKGROUNDS */

  --bg-primary: #b3daff;

  /* FONTS */

  --fs-main: 2rem;
  --fs-xxl: 1.5rem;
  --fs-xl: 1.25rem;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  font-size: clamp(1rem, 8vw, var(--fs-main)) !important;
}

h2{
  font-size: clamp(1rem, 7vw, var(--fs-xxl)) !important;
}

h3{
  font-size: clamp(.8rem, 6vw, var(--fs-xl)) !important;
}

span, p{
  font-size: clamp(.75rem, 5vw, 1rem) !important;
}

textarea{
  resize: none;
}

#root{
  height: var(--h-FullVh);
}

/* CLASSES */
.customInput{
  width: 100%;
  white-space: pre-wrap;
}

.main{
  width: var(--w-Full);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 5%;

}

.inputError, .inputSuccess{
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: .5rem;
}

.inputError{
  border: 2px solid var(--color-delete);
}

.inputSuccess{
  border: 2px solid var(--color-success);
}

.flexColumn{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex__spacingMY{
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
}

.flex__spacingBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.flex__spacingBetweenWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.errorMessage{
  color: var(--color-delete);
  width: 100%;
  font-size: .85rem;
  font-weight: 600;
  text-align: left;
}