:root {
    --color-primary: #0077cc;
    --color-whitesmoke: #f5f5f5;
  }
  
.navbar {
position: sticky;
top: 0;
width: 100%;
z-index: 50;
background-color: var(--color-primary);
color: var(--color-whitesmoke);
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar__container {
display: flex;
align-items: center;
justify-content: space-between;
gap: 1.5rem;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
padding: 0.75rem 1.25rem;
}

.navbar__logo {
font-size: 1.25rem;
font-weight: bold;
}

.navbar__toggle {
display: none;
background: none;
border: none;
color: inherit;
cursor: pointer;
}

.navbar__links {
display: flex;
gap: 1.5rem;
list-style: none;
transition: all 0.3s ease;
}

.navbar__links a {
text-decoration: none;
color: var(--color-whitesmoke);
font-weight: 500;
}

.navbar__links a:hover {
text-decoration: underline;
}

.navbar__logout {
background-color: var(--color-primaryStrong);
border: none;
color: white;
padding: 0.5rem 1rem;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease;

}

.navbar__logout:hover {
transform: scale(1.05);
}

.navbar__user {
display: flex;
align-items: center;
gap: 0.5rem;
margin-left: 3rem;

}

@media (max-width: 768px) {
.navbar__user {
margin-left: 0;
}
}

.navbar__username {
font-weight: 800;
}

/* Mobile view */
@media (max-width: 768px) {
    .navbar__toggle {
        display: block;
    }

    .navbar__links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary);
        max-height: 0;
        overflow: hidden;
    }

    .navbar__links.open {
        max-height: 200px;
        padding: 1rem 0;
    }
     }

.navbar__options_icon{
    width: 30px;   
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.navbar__options_icon:hover{
    transform: scale(1.1);
}